.HistoryTableContainer {

  border-style: solid;
  border-width: 0.1em 0em 0em 0em;
  border-color: #ddd;

  overflow: hidden;

  transition: 1s ease;

  &[data-expand=true] {
    max-height: 40em;
  }

  &[data-expand=false] {
    max-height: 0em;
  }
}

.HistoryTable {
  overflow: hidden;

  border: 0.3em solid #cf1418;
  border-radius: 0.5em;

  margin: 1em;

  .HistoryList {
    max-height: 30em;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
