@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&display=swap");

.Body {
  width: 100%;
  height: calc(100vh - 16px);

  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-contents: space-between;

  width: 100%;

  padding-bottom: 4em;
}

.Title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 5em;

  color: #cf1418;

  text-shadow: 5px 5px #999;

  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
